<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CVbot</title>
	<script src="/static/joy.js"></script>
	<style>
	html{
		width: 100%;
		height: 100%;
	}

	body {
		position:absolute; top:0; bottom:0; right:0; left:0;
		margin: 0;
		background-color: #000000;
	}
	
	#videoContainer {
		background-color: #00000000;
	}
	
	#video {
		width: 100vw;
	# height: 100vh;
		display: block;
		margin: auto;
	}
	
	#logo {
		width: 7%;
		height: auto;
		position: absolute;
		padding: 0px;
	    top: 3%;
		left: 1%;
	}
	
	</style>
</head>
<body>
	<div id="videoContainer"><img id="video" src="{{ url_for('video_feed') }}"></div>
	<a href="https://www.youtube.com/channel/UCHRTaqr8KSCfyo2_CLH-yfg"><img id="logo" src="/static/logo.png"></a>
	<div id="joyDiv"></div>
	<script type="text/javascript">
		
	</script>
</body>
</html>